/* Variables */
:root {
    /* Base color: 60%. It should be neutral - White, creamy etc. in light mode.
    And sort of dark color in dark mode */
    --base-color: #F1F0EA;

    /* Primary color - 30%. Brand color  */
    --primary-color: #2E3532;

    /* Secondary color - 10%. Action color - it says "Click me, use me". 
    Set on buttons, important aries  */
    --action-color: #07C550;

    --font-color: #212529;
    --background-color: #F1F0EA;
    --nav-color: #2E3532;
    /* --nav-color: #E2E2E2; */
    /* --nav-color: #D4D7D9; */
}

/* @media (prefers-color-scheme:light){
    body {
        background-color: var(--day-background-color);
        color: var(--day-color);
    }
}

@media (prefers-color-scheme:dark){
    body {
        background-color: var(--night-background-color);
        color: var(--night-color);
    }
} */

/* .light-theme { */
/* body {
    background-color: var(--day-background-color);
    color: var(--day-color);
} */
/* } */

.dark-theme {
    --font-color: #E2E2E2;
    --background-color: #1E1E1E;
    --nav-color: black;
    --action-color: #E2E2E2;
}


/* General styles */
body {
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
}

  

main, footer {
    /* color: var(--font-color); */
    /* background-color: var(--background-color); */
    margin: 50px;
}



.fa-download, .fa-house, .fa-moon, .fa-sun, .contact-icon {
    color: var(--action-color);
}