/* Main page */
section {
    margin-top: 75px;
}

.download-cv {
    margin-top: 30px;
    /* display: flex; */
    /* align-self: flex-start; */
}

.download-cv a {
    border: 2px solid var(--font-color);
    text-decoration: none;
    border-radius: 20px;
    padding: 6px 0px 6px 15px;
    /* color: var(--background-color); */
    color: var(--font-color);
    /* background-color: var(--font-color); */
}

.fa-download {
    border-radius: 20px;
    padding: 10px 10px 10px 15px;
    background-color: var(--font-color);
    /* justify-content: center; */
}