/* General */
.navbar {
  background-color: var(--nav-background-color);
  border-radius: 20px;
  margin: 5px;
}

/* Left section */
.navbar-brand {
  font-size: 24px;
}

.light-mode {
  cursor: pointer;
  font-size: 27px;
}

/* Right section */
.nav-link {
  color: var(--action-color);
  transition: all 0.15s ease;
}

.nav-link:hover {
  color: var(--action-color);
  padding-bottom: 2px;
  border-bottom: 2px solid var(--action-color);
  border-radius: 14px;
}

.navbar-toggler {
  background-color: var(--action-color);
  color: var(--action-color);
  border: 2px solid var(--primary-color);
  border-radius: 8px;
}
